{%extends 'main.html'%}
{% load static %}

{% block content%}
<div class='row'>
    <div class='col-lg-4'>
        <img class='product_item' src={% static 'images/product.png'%}>
        <div class='box-item'>
            <p>Product name</p>
            <a class="btn btn-outline-success" href = '/item/1'>View</a>
            <button data-product="1" data-action="add" type="button" class="btn btn-outline-primary add-basket" >Add to basket</button>
            <h4 style="display: inline-block; float: right">$450</h4>
        </div>
    </div>
    <div class='col-lg-4'>
        <img class='product_item' src={% static 'images/product.png'%}>
        <div class='box-item'>
            <p>Product name</p>
            <a class="btn btn-outline-success" href = '/item/2'>View</a>
            <button data-product="2" data-action="add" type="button" class="btn btn-outline-primary add-basket">Add to basket</button>
            <h4 style="display: inline-block; float: right">$250</h4>
        </div>
    </div>
    <div class='col-lg-4'>
        <img class='product_item' src={% static 'images/product.png'%}>
        <div class='box-item'>
            <p>Product name</p>
            <a class="btn btn-outline-success" href = '/item/3'>View</a>
            <button data-product="3" data-action="add" type="button" class="btn btn-outline-primary add-basket">Add to basket</button>
            <h4 style="display: inline-block; float: right">$500</h4>
        </div>
    </div>
</div>

{% endblock %}